.body{
    background-color: red;
}


.btn-outline-info{
    color: white;
}

.easy1{
    /* background-color: dodgerblue; */
}

.easy3{ 
    
    
}
nav-item{
    color: white;
}

.container-fluid{ 
    background-color: rgb(65, 187, 244);
}

.navbar-brand{
    color: white;
    font-weight: 750;
}