 
    
    .easy1{
        /* background-color: lightslategrey; */
    }
    
    .easy2{
        background-color: dodgerblue;
    }
    
    .navbar-brand{
        color: white;
    }
    
    .container-fluid{
        background-color:dodgerblue;
    }
    
    .active{
        color: white;
    }
    




