.alltogether{
    background-color:white ;
    width: 20%; padding: 41%; 
}
.headxx{ background-color: rgb(255, 255, 255)
    padding:4%; 
}
.normalxx{
    background-color: rgb(175, 200, 203)
    padding:4%; 
}
hardxxx{ 
    background-color: rgb(25, 173, 206)
}
.spann{
    font-size: medium;
}
.sssss{
    background-color: rgb(85, 219, 36)
    
}